/* src/components/FoodItems/FoodItems.css */

.food-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f8f8f8;
}

.food-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px; /* Reduced gap between items */
}

.food-item {
  width: 300px; /* Increased width for broader appearance */
  height: 280px; /* Adjusted height */
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s;
  overflow: hidden;
  border-radius: 8px;
}

.food-item:hover {
  transform: scale(0.95); /* Make smaller on hover */
}

.food-item img {
  width: 100%;
  height: 70%; /* Adjusted height for more horizontal appearance */
  object-fit: cover;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px; /* Rounded bottom corners */
  border-bottom-right-radius: 17px; /* Rounded bottom corners */
}

.food-item-content {
  padding: 8px;
  /* background-color: #ffffff; */
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  text-align: left; /* Align titles to the left */
}

.food-item h3 {
  font-size: 18px;
  margin: 4px 0;
  color: #333;
  font-family:  Arial, sans-serif; /* Use Futura or Arial if available */
  text-align: left; /* Ensure titles are left-aligned */
}

.rating-container {
  display: flex;
  align-items: center;
}

.star-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: green;
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  margin-right: 5px;
}

.food-item p {
  font-size: 14px;
  color: #888;
  text-align: left; /* Align ratings text to the left */
  font-family: Arial, sans-serif;
}

.rating-stars {
  display: flex;
  justify-content: flex-start; /* Align stars to the left */
  margin-top: 5px;
}

.rating-stars span {
  color: #f8ce0b; /* Yellow color for stars */
  font-size: 18px;
  margin-right: 2px; /* Add some space between stars */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-height: 80vh;
  max-width: 90%;
  width: 400px;
  overflow-y: auto;
  position: relative;
}

.modal-content img {
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
}

.modal-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #333;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background-color: rgb(228, 178, 92);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 20px;
  outline: none;
}

.pagination button:hover {
  background-color: rgb(210, 132, 64);
}

.pagination button.active {
  background-color: rgb(228, 178, 92);
}

.pagination button:focus {
  box-shadow: 0 0 0 2px red;
}

.star-filled {
  color: #f8ce0b; /* Yellow color for filled stars */
}

.star-empty {
  color: #e0e0e0; /* Grey color for empty stars */
}
