/* src/components/Navbar/Navbar.css */

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.Navbar .logo {
  width: 150px;
  cursor: pointer;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  border-radius: 35px;
  padding: 10px 20px; /* Adjusted padding to fit the content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 40%; /* Ensures the search bar expands to fill available space */
}

.navbar-search-icon {
  width: 20px;
  margin-right: 20px;
}

.search-bar input {
  border: none;
  outline: none;
  background: transparent;
  padding: 2px 0;
  width: 50%; /* Ensures the input field fills the search bar */
}
